version: '3'
services:
  web:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html  
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certs:/etc/nginx/certs 